.add-shelf {
  position: relative;
  display: inline-block;
  /* padding-right: 10px; */
  /* padding-top: 4px; */
  top: inherit;
  /* padding: 4px 10px; */
}

.add-shelf-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px;
    z-index: 1;
    right: 10px;
    /* opacity: 1; */
    cursor: auto;
    /* background: #f2f2f2; */
}

.add-shelf-title {
    display: flex;
    /* justify-content: center; */
    background: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
}

.add-shelf:hover {
  /* background-color: rgba(165, 140, 42, 0.632); */
}

.add-shelf:hover .add-shelf-content {
  display: block;
  /* cursor: pointer; */
}

.add-shelves-sidebar-shelf-button {
    cursor: pointer;
    display: flex;
}
.add-shelves-sidebar-shelf-buttons {
   min-width: 85px;
}

.add-shelves-sidebar-shelf-buttons:hover {
  background-color: white;
  font-weight: bold;
}
.add-shelves-sidebar-shelf-buttons:active {
  background-color: green;
  font-weight: bold;
}

.add-shelf-form {

}

.show-book-add-to-shelf {
  border-color: #dddddd;
  color: #181818;
  line-height: 100%;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

