/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .app {
    display: block;
    max-height: 100%;
 }

 a {
     font-weight: 500;
 }

 a:hover {
     background-color: rgba(140, 0, 0, 0.536);
 }




 button {
    /* border-radius: 28px; */
    border-radius: 4px;
    background-color: rgb(99, 4, 23);
    color: white;
    font-weight: 600;
    min-width: 50px;
    margin: auto;
    display: block;
}
button:focus {outline:0;}
button:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}
.background-color {
    /* background-color: #FBC7CA; */
    background-color:rgb(255, 255, 255);
    /* Test Color */
    /* background-color: red; */
    /*  */
    width: 100%;
    height: 105%;
}

 .content {
    height: 86vh;
    max-height: 86vh;
     /* calc */
    scroll-behavior: auto;
    overflow: auto;
 }
 
 /* #root {
     min-height: 100vh;
 } */

 .empty-space {
    display: block;
    height: 20px;
}



.test {
    background-color: red;
    border: 10px solid yellow;
}

.test-modal {
    background-color: red;
    border: 10px solid yellow;
    z-index: 200;
    margin: auto;
    top: 50%;
    left: 50%;
    height: fit-content;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
    
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }

    .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    }

    .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    }

    .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    }




 
 
 