.title-field {
    display: flex;
    align-items: center;
    margin: 4px 0px;
    margin-right: 4px;
}
.title-field input{
    width: 150px;
}

.rating-field {
    display: flex;
    align-items: center;
    margin: 4px;

}

.rating-star {
    margin-right: 5px;
}

.body-field {
    margin: 0px;
    width: 260px;
    height: 105px;
    min-width: 260px;
    min-height: 100px;
}

.body-field textarea {
    min-width: 340px;
    min-height: 100px;
    margin: 4px;
}

.date-reviewed-field {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin: 7px 0px;
}

label div {
    margin: 4px;
}

.review-up {
    
    padding: 5px;
    width: 400px;
}

.show-book-review {
    border: 2px solid gray;
    height: 400px;
}

.show-book-individual-review-title,
.show-book-individual-review-date,
.show-book-individual-review-id,
.show-book-individual-review-rating,
.show-book-individual-review-body {
    margin: 1% 0em;
}

.show-book-individual-review-rating {
    display: flex;
}

.show-book-individual-review {
    padding: 2px;
}

