.date-specific-parent-container {
    // height: 100vh;
    color: white;
    min-height: 100vh;
    .date-specific-header-container {
        .date-specific-header {
            display: flex;
            height: 3em;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            background-color: lightcoral;
        }
    }
    .date-specific-filter {
        display: block;
        margin: 5px;
        border: lightslategray 1px solid;
    }
    .date-specific-info {
        display: flex;
        height: 100%;
        max-height: 100vh;

    }
    .date-specific-info-container {
        display: block;
        width: 50%;
        overflow-y: scroll;
        border: lightslategray 1px solid;
        padding: 5px;
        margin: 5px;
        margin-bottom: 53px;
        .inner-date-specific-container:last-of-type {
            margin-bottom: 50px;
        }
        .inner-date-specific-container {
            margin: 10px 0px;
            border: solid 1px black;
            padding: 3px;
            .title-info-container {
                display: flex;
                margin: 5px;
                .title-for-date {
                    display: flex;
                    width: 164px;
                    min-width: max-content;
                    padding-right: 1em;
                    text-align: right;
                }
                .info-for-date {
                    display: block;
                    height: fit-content;
                    width: 100%;
                }
            }
        }
    }
}

.map-container {
    margin: 10px;
    width: 50%;
}