.date-specific-parent-container {
    .date-specific-header {
        display: flex;
        height: 3em;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        background-color: lightcoral;
    }
    .date-specific-filter {
        display: block;
    }
    .date-specific-info {
        display: flex;
    }
    .date-specific-info-container {
        display: block;
        height: 95%;
        width: 50%;
        .date-specific {

        }
    }
}