
.date-specific-header-container {
    .date-specific-header {
        display: flex;
        height: 3em;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        background-color: lightcoral;
    }
}
.date-specific-parent-container {
    // height: 100vh;
    color: black;
    min-height: 100vh;
    display: flex;
    .date-specific-filter {
        display: block;
        margin: 5px;
        border: lightslategray 1px solid;
        width: max-content;
        padding: 10px;
        height: fit-content;
        .specific-filter {
            display: block;
            padding: 5px 0px;
            width: max-content;
            min-width: fit-content;
            p {
                width: 6em;
            }
            .click-me {
                padding-left: 5px;
            }
        }
        .date-drop-down {
            // display: none;
        }
    }
    .date-specific-info {
        display: flex;
        height: 100%;
        max-height: 100vh;

    }
    .date-specific-info-container {
        display: block;
        width: 50%;
        overflow-y: scroll;
        border: lightslategray 1px solid;
        padding: 12px;
        margin: 5px;
        margin-bottom: 53px;
        overflow-x: hidden;

        .inner-date-specific-container:last-of-type {
            margin-bottom: 50px;
        }
        .inner-date-specific-container {
            .title-info-container {
                // display: flex;
                // margin: 5px;
                margin: 10px 0px;
                border: solid 1px black;
                padding: 3px;
                .title-for-date {
                    display: flex;
                    width: 164px;
                    min-width: max-content;
                    padding-right: 1em;
                    text-align: right;
                }
                .info-for-date, .date-website-link {
                    display: flex;
                    height: fit-content;
                    width: 100%;
                    padding: 5px 0px;
                    word-wrap: break-word;
                }
                .info-for-date:last-child {
                    padding: 5px 0px;
                }
                p {
                    margin: 5px 0px;
                    font-size: 18px;
                }
                h4 {
                    font-size: 22px;
                    text-decoration: underline;
                } 
                a {
                    color: black;
                    padding-left: 5px;
                }
            }
        }
    }
}

.map-container {
    margin: 10px;
    width: 50%;
}