.footer {
    /* min-height: 100%; */
    position: absolute;
    /* height: 50px; */
    bottom: 0;
    clear: both;
    width: 100%;
}

.footer-inner {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(99, 4, 23);
    /* height: 7vh; */
    align-items: center;
    bottom: 0px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    position: sticky;
}


#footerLink {
    color: rgb(252, 252, 252);
}

.footer-linkedin,
.footer-github,
.footer-logo,
#footerlink {
    /* object-fit:cover; */
    height: 40px;
    text-decoration: none;
    color: black;
}
.footer-linkedin:hover,
.footer-github:hover {
    /* object-fit:cover; */
    border-radius: 10px;
    background-color: rgba(62, 62, 255, 0.571);
}

#footerlink:hover {
    background-color: rgba(62, 62, 255, 0.571);
}

.footer-logo {
    height: 3em;
}

.logo-caption {
    color: rgb(4, 156, 146);
    font-size: small;
}