.footer {
    min-height: 100%;
    position: fixed;
    height: 70px;
    bottom: 0px;
    clear: both;;
}

.footer-inner {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(99, 4, 23);
    height: 50px;
    align-items: center;
    bottom: 0px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    position: fixed;
}


#footerLink {
    
}

.footer-linkedin,
.footer-github,
#footerlink {
    /* object-fit:cover; */
    height: 40px;
    text-decoration: none;
    color: black;
}
.footer-linkedin:hover,
.footer-github:hover {
    /* object-fit:cover; */
    border-radius: 10px;
    background-color: rgba(62, 62, 255, 0.571);
}

#footerlink:hover {
    background-color: rgba(62, 62, 255, 0.571);
}

