.index-books {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 10px;
    padding: 10px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    overflow: auto;
    padding-bottom: 100px;
    margin: 0px 50px;
    text-align: center;
}

.search-bar {
  background-color: #fcf6f6;  
}
    .index-book-search-bar {
        display: inline-flex;
        justify-content: flex-end;
        width: 90%;
        margin: 10px;
    }

    .index-book-search-bar-text {
        width: 200px;
        height: 25px;
        background-color: #f2f2f2;
        margin-left: 50%;
        margin-top: 10px;
        text-align: center;
    }

    .index-book-information {
        padding: 10px;
        height: auto;
        width: auto;
        /* text-align: left; */
    }

        .index-books-book-info {
            border: none;
            box-shadow: none;
        }
        .index-books-book-info2 {
            border: none;
            box-shadow: none;
            padding: none;
        }

        .index-book-covers{
            align-items: center;
        }
                .index-book-cover {
                    width: 250px;
                    max-width: auto;
                    height: auto;
                    min-width: 70px;
                    border: none;
                    padding: none;
                    margin: none;
                    object-fit: cover;
                }

                /* .index-book-cover:hover {
                    width: 300px;
                    max-width: 100%;
                    height: auto;
                    min-width: 70px;
                    cursor: grab;
                    align-content: center;
                    background-color: lavenderblush;
                } */
                
            .index-book-information-title,
            .index-book-information-author {
                max-width: 220px;
                border: none;
            }

            .index-book-information-button {
                border: none;
                padding: 0px;
            }

            .index-book-information-title {
                font-weight: bold;
            }

            .index-book-information-author {
                padding: 4px 0px;
            }

            .index-book-information-rating {
                padding: 4px 0px;
                font-size: 15px;
                line-height: 150%;
            }
            .index-book-information-genre {
                padding: 4px 0px;
                font-size: 15px;
                line-height: 150%;
            }
            .index-book-information-description {
                padding: 4px 0px;
                font-size: 15px;
                line-height: 150%;
            }

            .index-book-information-date-read {
                padding: 4px 0px;
                font-size: 15px;
                line-height: 150%;
            }
    

