.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
  
    .modal-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: black solid 1px;
      box-shadow: 5px 5px 15px black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1A0004;
      border-radius: 10px;
      min-height: 350px;
      min-width: 350px;
      height: auto;
      width: auto;
      color: white;
    }
}

#dropdown-menu {
  // position: fixed;
  min-height: 0;
  min-width: 0;
  background: none;

  #dropdown-menu-child {
    min-height: 0;
    min-width: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: none;
    border: transparent;
    transform: translate(0%, 28px);
  }
}

.submit-button-modal {
  width: 100px;
  height: 35px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-family: Special Elite;
  font-weight: bolder;
  box-shadow: 3px 3px 10px black;
  background-color: #A6C8BC;
  outline: none;
}

.submit-button-modal:hover {
  background-color: rgb(183, 245, 90);
  color:black;
}



.modal-header {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-background-dropdown {
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 101vh;
  width: 100%;
  overflow: hidden;
  margin-top: 72px;
  // background: transparent;
  
    .modal-child-dropdown {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: black solid 1px;
      box-shadow: 5px 5px 15px black;
      display: inline-block;
      justify-content: center;
      align-items: center;
      background-color: #1A0004;
      border-radius: 10px;
      max-height: 80vh;
      height: 60vh;
      width: 60%;
      color: white;
      overflow: auto;
    }
}


.ul-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: auto;
}

.modal-list {
  overflow: auto;

}

.close-modal-container {
  margin-left: auto;
  padding: 1em;
  text-align: center;
}

.close-modal-container:hover {
  cursor: pointer;
}

.modal-title {
  text-decoration: underline;
  font-size: 40px;
  color: black;
  vertical-align: middle;
  // padding-left: 30px;
  // padding-right: 50px;
  margin: 20px;
  height: 50px;
  vertical-align: center;
  padding-top: 5px;
  color: white;
  text-align: center;

}