

body {
    margin: 0px;
}


 .header {
     display: block;
     /* margin-bottom: 1vh; */
     position: relative;
     width: 100%;
 }

 







.header-currentuser-name {
    display: flex;
    position: relative;
    /* padding: 5px; */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* padding-right: 50px; */
    text-transform: capitalize;
    margin: 5px 0px;
    cursor: default;
    font-weight: bolder;
    font-size: 18px;
}


.header-group {
    display: flex;
    justify-content: space-between;
    position: flex;
    width: 100%;
    height: 7vh;
    /* padding: 0px;
    padding-bottom: 7px; */
    /* height: 60px; */
    /* border-bottom: 1px solid black; */
    align-content: center;
}

.session-submit:hover {
    background-color: darkgray;
    font-weight: bolder;
    cursor: pointer;
}

.session-submit {
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: #eebe44;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    font-weight: bold;
}






#header-link {

    /* height: 0%; */
    display: flex;
}


.header-bar {
    background-color: #f4f2e9;
    display: flex;
    justify-content: space-between;
    vertical-align: text-bottom;
    height: 20%;
}







