.show-book {
    display: block;
    align-content: center;
    padding: 20px;
    /* padding-left: 14%; */
    /* background-color: #deb887; */
    width: 70%;
    margin: auto;
    background-color: #e9e8e0;
    min-width: 100vh;
    margin-bottom: 50px;
}


    .show-book-all-information {
        display: flex;
        padding: 5px;
        padding-left: 0px;
    }
        .show-book-all-information-and-reviews {
            display: flex;
            justify-content: space-between;
        }

        @media only screen and (max-width: 1520em) {
            .show-book-all-information-and-reviews {
                display: block;
                max-width: 400px;
                margin: 20px 0px;
                
            }

            
            .show-book-review {
                height: 300px;
            }
        }
        
        
        .show-book-cover-image {
            display: flex;
        }
            .show-book-cover {
                display: flex;
                height: 500px;
                width: auto;
                padding-right: 25px;
                padding-bottom: 10px;
                margin-right: 6px;
            }

        .show-book-information-title,
        .show-book-information-author,
        .show-book-information-genre, 
        .show-book-information-rating, 
        .show-book-information-description {
            display: block;
            padding-bottom: 6px;
        }

        .show-book-information-title {
            font-weight: bold;
            font-size: 24px;
        }

        .show-book-information-author {
            /* color: #333; */
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-rating {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }

        .show-book-information-genre {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-description {
            font-family: "Merriweather", "Georgia", serif;
            line-height: 21px;
            max-width: 300px;
        }

    .show-book-my-activity {
        display: block;
        margin-top: 10px;
        background: transparent;
        border-bottom: 1px solid #D8D8D8;

    }
        .show-book-my-activity-text {
            width: 100%;
            vertical-align: auto;
        }


    .show-book-individual-review {
        border-top: 2px solid gray;
        /* border-bottom: 2px solid gray; */
        padding-top: 3px;
        margin: 8px 0px;
        /* background-color: ; */
    }

    .show-book-all-reviews {
        padding-top: 15px;
    }

    .show-book-activity-rating {
        background: transparent;
        border-bottom: 1px solid #D8D8D8;
        padding-top: 20px;
    }

    .show-book-activity-shelf {
        display: block;
        padding: 1vh 0vh
    }

        .show-book-all-shelves {
            display: block;
            padding-left: 3px;
            color: brown;
        }   

        .dropdown-content2 {
            /* background-color: brown; */
            color: black;
        }

.show-book-unique-shelves{
    display: flex;
    margin: 1vh 0vh
}

.show-book-myactivity{
    display: flex;
    margin: 1vh 0vh
}

.show-book-individual-review-id {
    text-transform: capitalize;
}

.show-book-all-reviews-text {
    border-top: 1px solid black;
    padding-top: 1em;
}

.leave-a-review {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid gray;
    margin: 4px;
    padding: 3px;
}

.show-book-information {
    min-width: 400px;
}