
.date-specific-header-container {
    .date-specific-header {
        display: flex;
        height: 3em;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        background-color: lightcoral;
    }
}



.date-specific-parent-container {
    // height: 100vh;
    color: black;
    min-height: 100vh;
    display: flex;
    .date-specific-filter {
        display: block;
        margin: 5px;
        // border: lightslategray 1px solid;
        min-width: max-content;
        width: max-content;
        padding: 10px;
        height: fit-content;
        .specific-filter {
            display: block;
            padding: 5px 0px;
            width: 100%;
            min-width: fit-content;
            border-top: 1px solid lightslategray;
            p {
                width: 6em;
            }
            .click-me {
                padding-left: 5px;
            }
        }
        .date-drop-down {
            // display: none;
        }
    }
    .date-specific-info {
        display: flex;
        height: 100%;
        max-height: 100vh;
        width: 80%;
    }
    .date-specific-info-container {
        display: block;
        width: 50%;
        // min-width: 35%;
        overflow-y: scroll;
        // border: lightslategray 1px solid;
        padding: 12px;
        margin: 5px;
        margin-bottom: 53px;
        overflow-x: hidden;
        max-width: 50%;
    }
}
.inner-date-specific-container {

}
.inner-date-specific-container:last-of-type {
    margin-bottom: 50px;
}


.date-specific-filter-container {
    margin: 5px 0px;
}

.map-container {
    margin: 10px;
    width: 50%;
}

.see-more-button {
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    background-color: rgb(99, 4, 23);
    width: 100%;
    margin: auto;
    text-align: center;
}
.see-more-button:hover {
    cursor: pointer;
}



.title-info-container {
    // display: flex;
    // margin: 5px;
    margin: 10px 0px;
    // border: solid 1px black;
    padding: 5px;
    // max-width: 90%;
    overflow-x: auto;
    border: 1px solid grey;

}
.title-for-date {
    display: flex;
    width: 164px;
    min-width: max-content;
    padding-right: 1em;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 5px;
}

.title-for-single-date {
    display: flex;
    width: 164px;
    min-width: max-content;
    padding-right: 1em;
    text-align: right;
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline;
    font-family: Georgia, serif;
}

.title-for-single-date, .info-for-single-date {
    margin: 5px 0px;
    display: flex;
}
#one-date-container {
    display: block;
    min-width: 35%;
    // overflow-y: scroll;
    // border: lightslategray 1px solid;
    padding: 12px;
    margin: 5px;
    margin-bottom: 53px;
    margin-top: 26px;
    overflow-x: hidden;
    max-width: 50%;
    background-color: rgb(186, 186, 186);
    font-size: 18.5px;
    height: 50vh;
    width: max-content;
}
#one-date-info-container{
    border: none;
}

.date-information-container {
    display: flex;
    p {
        margin: 5px 0px;
        margin-right: 2px;
        font-size: 18px;
    }
    
}


.info-for-date-title {
    width: fit-content;
    font-weight: 600;
}

.filter-and-random-button button {
    display: block;
    text-align: left;
    margin: 5px;
}

.back-button {
    padding-top: 5px;
    padding-left: 30px;
    height: 20px;
}

.back-button:hover {
    background-color: transparent;
}

.reset-submit-box {
    button {
        margin: 5px 0px;
    }
}