
.date-specific-header-container {
    .date-specific-header {
        display: flex;
        height: 3em;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        background-color: lightcoral;
    }
}



.date-specific-parent-container {
    // height: 100vh;
    color: black;
    min-height: 100vh;
    display: flex;
    .date-specific-filter {
        display: block;
        margin: 5px;
        border: lightslategray 1px solid;
        min-width: max-content;
        width: max-content;
        padding: 10px;
        height: fit-content;
        .specific-filter {
            display: block;
            padding: 5px 0px;
            width: 100%;
            min-width: fit-content;
            p {
                width: 6em;
            }
            .click-me {
                padding-left: 5px;
            }
        }
        .date-drop-down {
            // display: none;
        }
    }
    .date-specific-info {
        display: flex;
        height: 100%;
        max-height: 100vh;
        
    }
    .date-specific-info-container {
        display: block;
        width: 90vh;
        // min-width: 35%;
        overflow-y: scroll;
        border: lightslategray 1px solid;
        padding: 12px;
        margin: 5px;
        margin-bottom: 53px;
        overflow-x: hidden;
        max-width: 50%;
    }
}

.inner-date-specific-container:last-of-type {
    margin-bottom: 50px;
}
.inner-date-specific-container {
    .title-info-container {
        .info-for-date, .date-website-link {
            display: flex;
            height: fit-content;
            width: 100%;
            padding: 5px 0px;
            word-wrap: break-word;
        }
        
        .info-for-date:last-child {
            padding: 5px 0px;
        }
        p {
            margin: 5px 0px;
            font-size: 18px;
        }
        h4 {
            font-size: 22px;
            text-decoration: underline;
        } 
        a {
            color: black;
            padding-left: 5px;
        }
    }
}

.date-specific-filter-container {
    margin: 5px 0px;
}

.map-container {
    margin: 10px;
    width: 50%;
}

.see-more-button {
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    background-color: rgb(99, 4, 23);
    width: 100%;
    margin: auto;
    text-align: center;
}
.see-more-button:hover {
    cursor: pointer;
}



.title-info-container {
    // display: flex;
    // margin: 5px;
    margin: 10px 0px;
    border: solid 1px black;
    padding: 5px;
    background-color: rgb(233, 230, 230);
    // max-width: 90%;
    overflow-x: auto;
}
.title-for-date {
    display: flex;
    width: 164px;
    min-width: max-content;
    padding-right: 1em;
    text-align: right;
    font-weight: bold;
}

.title-for-single-date {
    display: flex;
    width: 164px;
    min-width: max-content;
    padding-right: 1em;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    
}

.title-for-single-date, .info-for-single-date {
    margin: 5px 0px;
    display: flex;
}
#one-date-container {
    display: block;
    min-width: 35%;
    // overflow-y: scroll;
    border: lightslategray 1px solid;
    padding: 12px;
    margin: 5px;
    margin-bottom: 53px;
    overflow-x: hidden;
    max-width: 50%;
    background-color: rgba(119, 136, 153, 0.815);
    font-size: 18.5px;
    height: 90vh;
}
#one-date-info-container{
    height: auto;
}


.filter-and-random-button button {
    display: block;
    text-align: left;
    margin: 5px;
}