/* old website */

.background-and-signup-box {
    /* padding-top: 101px; */
    /* min-height: 800px; */
    scroll-behavior: unset;

}
    .sign-up-form-box {
    left: 80%;
    transform: translateX(-60%); 
    position: flex;
    width: 300px;
    height: auto;
    display: inline-block;
    position: fixed;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 5px;
    flex-direction: row;
    background-color: #f4f2e9;
    align-items: center;
    z-index: 1;
    margin-top: 101px;
    }   

        .sign-up-form-title {
        justify-content: space-between;
        flex-direction: row;
        text-align: left;
        padding: 5px 0px;
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;
        }

    .background-box {
        align-items: right;
        width: 100%;
        height: 100%;
        display: inline-block;
        align-items: flex-end;
        margin: 0px;
        padding: 0px;
        overflow: auto;
        min-height: 400px;
        z-index: -1;
        min-width: 800px;
        /* background-color: gray; */
    }

    .background-box div {
        display: flex;
        align-items: center;
    }

        .sign-up-box {
            height: min-content;
            overflow: visible;
        }
    
    .background-img {
        background-image: asset-url('sf_pano.jpg');
        background-color: #cccccc;
        height: 30vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 23%;
    }

    @media only screen and (max-width: 1520em) {
        .background-img {
            background-position: 50% 30%;
        }
        // .content {
        //     height: 5vh;
        // }
    }

    .filter-bar {
        display: flex;
        justify-content: space-evenly;
        // background-color: rgba(28, 115, 191, 0.742);
        height: 2em;
        align-items: center;
        color: black;
        position: relative;
    }
    .flavor-text {
        float: left;
        /* min-width: 100px; */
        z-index: 3;
        font-size: 40px;
        position: absolute;
        width: initial;
        /* background-color: rgba(173, 216, 230, 0.2); */
    }

    .flavor-text-box {
        float: left;
        z-index: 2;
        font-size: 40px;
        position: absolute;
        top: 150px;
        left: 15%;
        height: 200px;
        width: 500px;

    }

     @media only screen and (max-width: 63em) {
        .flavor-text {
            font-size: 20px;
            width: inherit;
        }

        .flavor-text-box {
            /* min-width: 400px; */
            height: auto;
            width: 60%;
        }
    }

    /* new website */

.splash-page {
    display: block;
    background-color:white;
    // max-height: 100vh; need to change this
    width: 100%;
    padding-bottom: 20px;
}

.random-date-box {
    display: block;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 10px;
    height: max-content;
}

.random-date-information {
    display: none;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: fit-content;
    min-width: 400px;
    max-width: 50%;
    height: fit-content;
    margin: auto;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-align: left;
    
}
    .random-date-information > ul {
        margin: 4px;
        display: flex;
    }
    .specific-date-information, .specific-date-title {
        padding: 5px;
    }
    .specific-date-information {
        margin-left: 4px;
        font-weight: bold;
        color: black;
        text-overflow: ellipsis;
        width: 100%;
        word-wrap: normal;
        word-spacing: 2px;
        
    }
    .specific-date-title {
        color: black;
        width: 150px;
        padding-bottom: 5px;
        text-overflow: ellipsis;
        min-width: max-content;
    }

    .website-info {
        color: black;
        display: block;
        margin: auto;
        width: 80%;
        .website-info-text {
            display: block;
            text-align: center;
            .website-info-greeting {
                padding: 1em;
                font-size: 26px;
                font-weight: bold;
                text-decoration: underline;
                letter-spacing: 5px;
                line-height: 24px;
            }
    
            .website-info-paragraph {
                word-spacing: 5px;
                line-height: 24px;
                font-size: 20px;
            }
        }
    }
        
.random-date-button {
    // margin: 10px;
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.random-date-button:hover {
    background-color: rgba(28, 115, 191, 0.742);
    height: 100%;
    color: crimson;
}
.random-date-button:active {
    background-color: rgba(12, 90, 159, 0.742);
}

.close-window-button {
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.body-link {
    color: black;
    font-weight: bold;
}

.down-arrow {
    color: red;

}

.down-arrow:hover {
    cursor: pointer;
}